@media only screen and (min-width: 992px) 
{
.daftar li {
    list-style-type: none;
    display: inline;
    margin-right: 7px;  
}

.navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    #logo {
      font-size: 24px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style: italic;
    }
}

header {
    text-align: center;
}

.gambar1{
    margin-top: 40px;
}

main {
    display: flex;
    margin: auto;
    justify-content:space-around;
}

form {
    margin-top: 35px;
    padding: 25px;
    padding-top: 10px;
    background-color:lightgrey;
    border-radius: 5px;
}

.btnsend {
    padding-right: 127px;
    padding-left: 127px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    background-color: goldenrod;
    border: 2px black solid;
    border-radius: 5px;
  }

  form > select {
    padding-right: 105px;
    padding-left: 105px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  form > input {
    border: 3px color(black);
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .feed {
    justify-content: start;
    margin-left: 150px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 5px;

       #feedname {
        display: flex;
        justify-self:start;
        margin-top: -60px;
        margin-left: 70px;
        font-size: 15pt;
        
      }
    
      #ket {
        justify-self:start;
        margin-top: -50px;
        margin-left: 70px;
      }

      #komen {
        justify-self:start;
        margin-top: -50px;
        margin-left: 70px;
      }

  }

  .fitur {
    margin-top: 60px;
    margin-left: 150px;
     li {
        list-style:decimal
     }
     ul {
        font-size: 20px;
     }
  }

  body {
    font-family:Arial, Helvetica, sans-serif;
  }

  footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 2px;
  }

}

